:root
{
    --asset-editor-grid-light-grey-1: rgba(25, 25, 25, 1.0);
    --asset-editor-grid-light-grey-2: rgba(50, 50, 50, 0.5);
    --asset-editor-grid-light-grey-3: rgba(50, 50, 50, 1.0);

    --asset-editor-metrics-grid-25: 25;
    
    --asset-editor-toolbar-grey-1: rgba(20, 20, 20, 1.0);
    --asset-editor-toolbar-gray-2: rgba(75, 75, 75, 1.0);
    
    --asset-editor-toolbar-button-icon-1: url("../Resources/arrow-left-svgrepo-com.png");
    --asset-editor-toolbar-button-icon-2: url("../Resources/arrow-right-svgrepo-com.png");
    --asset-editor-toolbar-button-icon-3: url("../Resources/tick-svgrepo-com.png");
    --asset-editor-toolbar-button-icon-4: url("../Resources/cross-svgrepo-com.png");

    --palladion-editor-dark-grey: rgba(30, 30, 30, 1.0);
    --palladion-editor-dark-blue: rgba(40, 40, 50, 1.0);
    
}